.main-contactanos{
    margin: 55px auto;
    .formulario-de-contacto{
        background-color: #fff;
        width: $ancho - 20%;
        padding: 20px;
        border-radius: 10px;
        margin: 0 auto;
        margin-bottom: 60px;
    }
    .mapa-contactanos {
        margin: 10px auto;
        height: 300px;
        width: $ancho - 20%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 5px;
    }
}