.main-contactanos{
    margin: 55px auto;
    h4{
        margin: 0 auto;
        text-align: center;
        font-size: $tam-movil;
        font-family: $titulos-principales;
        font-weight: bolder;
        color: #fff;
        text-shadow: $sombra;
        margin-bottom: 9px;
    }
    .formulario-de-contacto{
        background-color: #fff;
        width: 80%;
        padding: 20px;
        border-radius: 10px;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .mapa-contactanos {
        margin: 10px auto;
        height: 300px;
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}