.contenedor-cursos{
    @include cards;
    .card{
        box-shadow: $sombra;
        width: calc($ancho - 15px);
        h5{
            font-family: $titulos-principales;
            font-weight: bolder;
            text-shadow: $sombra;
            font-size: $tam-movil;
        }
        p{
            font-family: $texto;
            color: black;
            font-size: $tam-text-movil;
        }
        a{
            box-shadow: $sombra;
            transition: all 0.2s ease-in-out;
        }
        a:hover{
            transform: scale(1.1);
        }
    }
}
