@media only screen and (min-width: 1400px){
    // inicio
    .navbar{
        height: 180px;
        .imagen-nav{
            height: 150px;
        }
        .titulo-principal{
            font-size: 65px;
        }
        li{
            border-bottom: none;
            a{
                font-size: 25px;
                padding: 10px;
                margin-right: 10px;
            }
        }
    }
    .fondo-inicio img{
        height: 800px;
    }
    .contenido-pagina-inicio {
        width: $ancho - 20%;
        h2{
            font-size: 55px;
        }
        p{
            font-size: 25px;
        }
    }
    .carousel-inicio{
        padding-left: 250px;
        padding-right: 250px;
        margin-bottom: 110px;
        img{
            border-radius: 25px;
        }
        button{
            margin: 160px;
        }
    }
    // cursos
    #titulo-cursos{
        font-size: 80px;
    }
    .contenedor-cursos{
        flex-direction: row;
        width: $ancho;
        .card{
            height: 600px;
            width: $ancho;
        }
        img{
            height:300px;
            width: $ancho;
            object-fit: cover;
        }
        h5{
            font-size: 35px;
        }
    }
    // pagina niveles
    .contenedor-paginas{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: $ancho;
        .card{
            height: 350px;
            width: calc(33.33% - 20px);
            margin-bottom: 100px;
            transition: all 0.3s ease-in-out;
        }
        p{
            text-decoration: none;
        }
        img{
            height: 250px;
            width: 100%;
            object-fit: cover;
        }
        .card:hover{
            transform: scale(1.1);
        }
    }
    // contactanos
    #titulo-contactanos{
        font-size: 70px;
    }
    .main-contactanos{
        .formulario-de-contacto{
            width: $ancho - 50%;
        }
        .mapa-contactanos{
            width: $ancho - 50%;
        }
    }
    footer{
        .footer-iconos a i{
            font-size: 40px;
        }
        .txt-footer{
            font-size: 20px;
        }
    }
}   