@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
// font-family: 'Roboto', sans-serif;
// font-family: 'Open Sans', sans-serif;

// variables

// box-shadow
$sombra: 7px 7px 7px #00000073;
// font-family
$titulos-principales:'Roboto', sans-serif;
$texto:'Open Sans', sans-serif;
// titulos-media / tam-text
// movil
$tam-movil:25px;
$tam-text-movil:16px;
// desktop



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    background-color:#5785C1;
}
// vista para dispositivo movil
.navbar{
    background-color: #0C3869;
    color: #fff;
    box-shadow: $sombra;
    .imagen-nav{
        height: 90px;
        margin: 0;
        padding: 0;
    }
    .titulo-principal{
        display: none;
    }
    button{
        box-shadow: $sombra;
        transition: all 0.2s ease-in-out;
        &:hover{
            transform: scale(1.2);
        }
    }
    li {
        transition: all 0.2s ease-in-out;
        padding-left: 10px;
        border-bottom: solid 1px #00000023;
        &:hover{
            transform: scale(1.1);
            box-shadow: $sombra;
            padding: 10px;
        }    
    }
}

.fondo-inicio img{
    width: 100%;
    height: 350px;
    object-fit: cover;
}

// Contenido Pagina Inicio
.contenido-pagina-inicio{
    padding: 20px;
    h2{
        font-family: $titulos-principales;
        text-align: left;
        font-weight: bold;
        color: #fff;
        text-shadow: $sombra;
    }
    p{
        text-align: justify;
        font-size: $tam-text-movil;
        font-family: $texto;
    }
}

.carousel-inicio{
    padding: 25px;
    button{
        margin: 20px;
    }
}
@import "_cursos.scss";

@import "_contactanos.scss";


// Footer
footer{
    display: grid;
    place-items: center;
    position: static;
    margin-top: 50px;
    background-color: #0C3869;
    .footer-iconos a i{
        text-decoration: none;
        font-size: $tam-movil;
        transition: transform 0.2s ease-in-out;
        margin-top: 12px;
        padding: 15px;
        color: #fff;
        &:hover{
            transform: scale(1.3);
            text-shadow: $sombra;
        }
    }
    .txt-footer{
        color: #fff;
        text-align: center;
        padding: 5px;
        font-size: 15px;
    }
}

@import '_media768.scss';
@import '_media992.scss';
@import '_media1400.scss';

